@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));
@keyframes aurora {
  from {
    background-position: 50% 50%, 50% 50%;
  }
  to {
    background-position: 350% 50%, 350% 50%;
  }
}
@theme inline {
  --animate-aurora: aurora 60s linear infinite;

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.625rem;
  --background: 240 41.4634% 8.0392%;
  --foreground: 217.5 26.6667% 94.1176%;
  --card: 240 35.4839% 18.2353%;
  --card-foreground: 217.5 26.6667% 94.1176%;
  --popover: 240 35.4839% 18.2353%;
  --popover-foreground: 217.5 26.6667% 94.1176%;
  --primary: 312.9412 100% 50%;
  --primary-foreground: 0 0% 100%;
  --secondary: 240 35.4839% 18.2353%;
  --secondary-foreground: 217.5 26.6667% 94.1176%;
  --muted: 240 35.4839% 18.2353%;
  --muted-foreground: 232.1053 17.5926% 57.6471%;
  --accent: 168 100% 50%;
  --accent-foreground: 240 41.4634% 8.0392%;
  --destructive: 14.3529 100% 50%;
  --destructive-foreground: 0 0% 100%;
  --border: 240 34.2857% 27.451%;
  --input: 240 34.2857% 27.451%;
  --ring: 312.9412 100% 50%;
  --chart-1: 312.9412 100% 50%;
  --chart-2: 273.8824 100% 50%;
  --chart-3: 186.1176 100% 50%;
  --chart-4: 168 100% 50%;
  --chart-5: 54.1176 100% 50%;
  --sidebar: 240 41.4634% 8.0392%;
  --sidebar-foreground: 217.5 26.6667% 94.1176%;
  --sidebar-primary: 312.9412 100% 50%;
  --sidebar-primary-foreground: 0 0% 100%;
  --sidebar-accent: 168 100% 50%;
  --sidebar-accent-foreground: 240 41.4634% 8.0392%;
  --sidebar-border: 240 34.2857% 27.451%;
  --sidebar-ring: 312.9412 100% 50%;
  --font-sans: Outfit, sans-serif;
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: Fira Code, monospace;
  --radius: 0.5rem;
  --shadow-2xs: 0px 4px 8px -2px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0px 4px 8px -2px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0px 4px 8px -2px hsl(0 0% 0% / 0.1),
    0px 1px 2px -3px hsl(0 0% 0% / 0.1);
  --shadow: 0px 4px 8px -2px hsl(0 0% 0% / 0.1),
    0px 1px 2px -3px hsl(0 0% 0% / 0.1);
  --shadow-md: 0px 4px 8px -2px hsl(0 0% 0% / 0.1),
    0px 2px 4px -3px hsl(0 0% 0% / 0.1);
  --shadow-lg: 0px 4px 8px -2px hsl(0 0% 0% / 0.1),
    0px 4px 6px -3px hsl(0 0% 0% / 0.1);
  --shadow-xl: 0px 4px 8px -2px hsl(0 0% 0% / 0.1),
    0px 8px 10px -3px hsl(0 0% 0% / 0.1);
  --shadow-2xl: 0px 4px 8px -2px hsl(0 0% 0% / 0.25);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
